asgiref==3.9.1
autopep8==2.3.2
certifi==2025.7.14
charset-normalizer==3.4.2
colorama==0.4.6
cx_Oracle==8.3.0
Django==3.2.25
django-cors-headers==4.5.0
dotenv==0.9.9
idna==3.10
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
pycodestyle==2.14.0
Pygments==2.19.2
pytest==8.4.1
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
random_word==1.0.13
requests==2.32.4
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
