Django==3.2.25
arabic-reshaper
asgiref
asn1crypto
certifi
cffi
charset-normalizer
cryptography
cssselect2
defusedxml
django-auth-adfs
et_xmlfile
html5lib
idna
jproperties
ldap3
lxml
numpy
oauthlib
openpyxl
oscrypto
pandas
pillow
pyasn1
pycparser
pycryptodome
pyfakefs
pyHanko
pyhanko-certvalidator
PyJWT
pypdf
pysonar
python-bidi
python-dateutil
python-dotenv
python3-openid
pytz
PyYAML
reportlab
requests
requests-oauthlib
responses
six
social-auth-app-django
social-auth-core
sqlparse
svglib
tinycss2
tomli
tzdata
tzlocal
uritools
urllib3
webencodings
xhtml2pdf
