{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Materiais.</title>
    <link rel="stylesheet" href="{% static 'requisicaofacil/css/material_pesquisa.css' %}">
</head>

<style>
    /* Ajuste final para o modal no Django */
    .modal-overlay.hidden {
        display: none;
    }
</style>

<body>

    <nav class="nav-menu-bar">
        <div class="header-container1">
            <button class="menu-toggle" aria-label="Abrir menu">
                <span class="hamburger"></span>
            </button>
            <nav class="nav">
                <ul class="nav-list">
                    {% if flag_tela_desuso %}
                    <li><a href="{% url 'consultaOficial:material_pesquisa' %}">Início</a></li>
                    {% endif %}
                    {% if flag_tela_vencido %}
                    <li><a href="{% url 'consultaOficial:material_validade' %}">Materiais com data de vencimento</a></li>
                    {% endif %}
                    {% if flag_tela_uso_medio %}
                    <li><a href="{% url 'consultaOficial:material_consumo_medio' %}">Consumo médio de materiais</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </nav>

    <header class="header">
        <div class="header-container">
            <div class="logo-container">
                Requisição Fácil
            </div>
        </div>
        <div class="divider"></div>
    </header>

    <div class="consulta-container">
        <form method="GET" action="" id="filter-form">
            <div class="filter-header">
                <p id='mobile' class="instruction-text">Clique na linha para ver descrição completa<br />
                    Clique no código para copiar</p>
                <button type="button" class="filter-btn clear-btn" id="clear-filters-btn" data-tooltip="Resetar filtros">
                    <div class="button-wrapper">
                        <div class="text">Limpar filtros</div>
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M13.013 3H2l8 9.46V19l4 2v-8.54l.9-1.055" />
                                <path d="m22 3-5 5" />
                                <path d="m17 3 5 5" />
                            </svg>
                        </span>
                    </div>
                </button>
                <p class="instruction-text">
                    Clique na linha para ver descrição completa<br />
                    Clique no código para copiar
                </p>
                <button type="submit" class="filter-btn apply-btn" data-tooltip="Filtrar resultados">
                    <div class="button-wrapper">
                        <div class="text">Aplicar filtro</div>
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="24" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M22 3H2l8 9.46V19l4 2v-8.54L22 3z" />
                            </svg>
                        </span>
                    </div>
                </button>
            </div>

            <div class="main-filters">
                <div class="filter-group">
                    <label>Filtro de quantidade</label>
                    <div class="quantity-filter">
                        <select name="saldo_filter" id="quant-filter-select">
                            <option value="igual" {% if request.GET.saldo_filter == 'igual' %}selected{% endif %}>Igual a</option>
                            <option value="menorq" {% if request.GET.saldo_filter == 'menorq' %}selected{% endif %}>Menor ou igual a</option>
                            <option value="maiorq" {% if request.GET.saldo_filter == 'maiorq' %}selected{% endif %}>Maior ou igual a</option>
                            <option value="entre" {% if request.GET.saldo_filter == 'entre' %}selected{% endif %}>Entre</option>
                        </select>
                        <input type="number" name="saldo" placeholder="Valor" value="{{ request.GET.saldo }}">
                        <div id="saldo_between_container" style="display: {% if request.GET.saldo_filter == 'entre' %}flex{% else %}none{% endif %}; align-items: center; gap: 10px;">
                            <span class="and-text">E</span>
                            <input type="number" name="saldo_between_end" placeholder="Valor" value="{{ request.GET.saldo_between_end }}">
                        </div>
                    </div>
                </div>

                <div class="filter-group">
                    <label>Filtro de uso</label>
                    <div class="quantity-filter">
                         <select name="usoDesuso">
                            <option value="uso" {% if request.GET.usoDesuso == 'uso' %}selected{% endif %}>Materiais em uso</option>
                            <option value="desuso" {% if request.GET.usoDesuso == 'desuso' %}selected{% endif %}>Materiais em desuso</option>
                            <option value="uso+desuso" {% if request.GET.usoDesuso == 'uso+desuso' %}selected{% endif %}>Materiais em uso e desuso</option>
                        </select>
                    </div>
                </div>

                <div class="filter-group">
                    <label id="code-filter">Filtro de código</label>
                    <div class="search-input">
                        <span class="search-icon submit-on-click">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                        </span>
                        <input type="text" name="codigo" placeholder="Pesquisar..." value="{{ request.GET.codigo }}">
                    </div>
                </div>

                <div class="filter-group">
                    <label id="description-filter">Filtro de descrição</label>
                    <div class="search-input">
                        <span class="search-icon submit-on-click">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                        </span>
                        <textarea name="descricao" placeholder="Pesquisar..." rows="1">{{ request.GET.descricao }}</textarea>
                    </div>
                </div>
            </div>
            <input type="hidden" name="page" id="page-input-hidden" value="{{ page_obj.number }}">
        </form>

        {% if messages %}
            {% for message in messages %}
                {% if message.level == 40 %}
                    <div class="error-message">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="results-table">
            <div class="table-header">
                <div class="col-cod">Código</div>
                <div class="col-saldo">Saldo</div>
                <div class="col-desc">Descrição</div>
            </div>

            {% if page_obj.object_list|length == 0 %}
                 <div class="no-results">Nenhum resultado encontrado com os filtros atuais</div>
            {% else %}
                {% for material in page_obj %}
                <div class="table-row"
                    data-codigo="{{ material.CO_MAT }}" 
                    data-saldo="{{ material.QT_SALDO_ATU }}" 
                    data-descricao="{{ material.DE_MAT }}">
                    <div class="col-cod" title="Clique para copiar o código" style="position: relative;">
                        <span class="material-code">{{ material.CO_MAT }}</span>
                        <svg class='copy-svg' width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                            <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                        </svg>
                    </div>
                    <div class="col-saldo">{{ material.QT_SALDO_ATU }}</div>
                    <div class="col-desc" title="{{ material.DE_MAT }}">
                        {{ material.DE_MAT|truncatechars:100 }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>

        {% if page_obj and page_obj.paginator.num_pages > 1 %}
        <nav class="pagination">
            <ul class="pagination" style="display: flex; align-items: center; list-style: none; padding: 0;">

                {# Botão Primeira e Anterior #}
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Primeira">&laquo;&laquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Anterior">&laquo;</a>
                    </li>
                {% endif %}

                {# --- CAMPO DE INPUT DA PÁGINA --- #}
                <li class="page-item disabled" style="margin: 0 15px;">
                    <span class="page-link" style="display: flex; align-items: center; gap: 8px;">
                        Página
                        <input type="number" 
                            min="1" 
                            max="{{ page_obj.paginator.num_pages }}" 
                            value="{{ page_obj.number }}" 
                            id="page-input-direct"
                            style="width: 60px; text-align: center;font-size: 18px;">
                        de {{ page_obj.paginator.num_pages }}
                    </span>
                </li>
                {# --- FIM DO CAMPO DE INPUT --- #}

                {# Botão Próxima e Última #}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Próxima">&raquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Última">&raquo;&raquo;</a>
                    </li>
                {% endif %}

            </ul>
        </nav>
        {% endif %}

    </div>

    <div class="modal-overlay hidden" id="product-modal">
        <div class="modal" onclick="(e) => e.stopPropagation()">
            <div class="modal-header">
                <h3 id="product">Produto escolhido</h3>
                <button id="close-modal-btn" aria-label="Fechar modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>
                </button>
            </div>
            <div class="modal-divider"></div>
            <div class="modal-content">
                <div class="modal-row">
                    <span>Saldo:</span>
                    <span id="modal-saldo"></span>
                </div>
                <div id="white" class="modal-row">
                    <span>Código:</span>
                    <div class="col-cod" style="position: relative; display: inline-flex; align-items: center; padding-left: 8px; font-weight: 400;">
                        <span id="modal-codigo" class="material-code"></span>
                        <svg class='copy-svg' id="modal-copy-icon" style="cursor: pointer; margin-left: 8px;" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                            <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                        </svg>
                    </div>
                </div>
                <div class="modal-row full-width">
                    <span id='last'>Descrição:</span>
                    <textarea id="modal-descricao" readOnly></textarea>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'requisicaofacil/js/material_pesquisa.js' %}"></script>
</body>

</html>
